.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-inner {
  background: #fff;
  border-radius: 10px;
  width: 85%;
}


.modal-title {
  font-size: 32px;
  padding: 30px;
  text-align: center;
  border-bottom: 1Px solid #f4f4f4;
  position: relative;
}

.modal-content {
  max-height: 700px;
  overflow: scroll;
  // padding: 20px;
  font-size: 30px;
  -webkit-overflow-scrolling: touch;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 24px;
}

.title_class{
  text-align:left !important;
  font-weight:600 !important;
}