@import './styles/public.scss';
// @import './iconfonts//iconfonts.scss';



/*********** 架构css相关***********/ 
.f {
  display:-webkit-box;
  display:-webkit-flex;
  display:flex
}
.f-c-c {
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center
}
.f-sb-c {
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  justify-content:space-between;
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center
}
.f-s-c {
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:start;
  -webkit-justify-content:flex-start;
  justify-content:flex-start;
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center
}
.f-s-e {
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:start;
  -webkit-justify-content:flex-start;
  justify-content:flex-start;
  -webkit-box-align:end;
  -webkit-align-items:flex-end;
  align-items:flex-end
}
.f-s-s {
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:start;
  -webkit-justify-content:flex-start;
  justify-content:flex-start;
  -webkit-box-align:start;
  -webkit-align-items:flex-start;
  align-items:flex-start
}
.f-s-st {
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:start;
  -webkit-justify-content:flex-start;
  justify-content:flex-start;
  -webkit-box-align:stretch;
  -webkit-align-items:stretch;
  align-items:stretch
}
.f-sb-s {
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  justify-content:space-between;
  -webkit-box-align:start;
  -webkit-align-items:flex-start;
  align-items:flex-start
}
.f-sb-e {
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  justify-content:space-between;
  -webkit-box-align:end;
  -webkit-align-items:flex-end;
  align-items:flex-end
}
.f-sb-st {
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  justify-content:space-between;
  -webkit-box-align:stretch;
  -webkit-align-items:stretch;
  align-items:stretch
}
.f-c-st {
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-box-align:stretch;
  -webkit-align-items:stretch;
  align-items:stretch
}
.f-sa-c {
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-justify-content:space-around;
  justify-content:space-around;
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center
}
.f-e-c {
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:end;
  -webkit-justify-content:flex-end;
  justify-content:flex-end;
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center
}
.fc {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  flex-direction:column
}
.f1 {
  -webkit-box-flex:1;
  -webkit-flex:1;
  flex:1
}
.fs {
  -webkit-flex-shrink:0;
  flex-shrink:0
}
.ellipsis1 {
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient:vertical;
  word-break:break-all
}
.ellipsis2 {
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  word-break:break-all
}




/*********** 覆盖原生btn 相关***********/ 
.clean-btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  font-size: inherit;
  text-align: left;
  text-decoration: none;
  line-height: inherit;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  color: inherit;
  background-color: inherit;
}
.clean-btn:after {
  display: none;
}
